<h6> Enter the date and time of the class and choose the language you want the class in 
  and we will match you with a tutor for live lessons.</h6> 

<a md-button [routerLink]="['/request']" ><button type="button" class="btn btn-primary">Request a Class</button></a>
<a md-button [routerLink]="['/avilable-classes']" ><button type="button" class="btn btn-success">Join a Class</button></a>

<h5>
    here is the list of our avilable tutors and the languages the teach in </h5>
    <tutors-list></tutors-list>
<!--<a md-button [routerLink]="['/tutors']" ><button type="button" class="btn btn-primary">Tutors</button></a>-->

<!--<addClass-Userform></addClass-Userform>-->
