<h3> Join a Quran class today </h3>
<h6> Enter the date and time of the class and choose the language you want the class in 
  and we will match you with a tutor for live lessons.</h6> 

<form [formGroup]="addForm" (ngSubmit)="addClass()"> 
  
 
  <label for="language" class="col-2 col-form-label">Language</label>
    <div class="col-10">
  <input type="text" class="form-control" formControlName="language" id="language">
    </div>

<label for="comment" class="col-2 col-form-label">comment</label>
   <div class="col-10">
  <input type="text" class="form-control" formControlName="comment" id="description">
   </div>
  
  <label for="example-date" class="col-2 col-form-label">Date</label>
  <div class="col-10">
    <input class="form-control" formControlName="startDate" type="date" value="2011-08-19T13:45:00" id="example-date">
  </div>

  <label for="example-datetime-local-input" class="col-2 col-form-label">Time</label>
  <div class="col-10">
    <input class="form-control" formControlName="startTime" type="time" value="13:45:00" id="example-datetime-local-input">
  </div>

  <br>
<button type="button" class="btn btn-secondary" (click)="addClass()">Secondary</button>
</form>