<form [formGroup]="addForm" (ngSubmit)="addClass()">
  <label>Class Name</label>
  <input type="text" formControlName="name">
 
  <label>Language</label>
  <input type="text" formControlName="language">

  <!--<label>Start</label>
  <input type="text" formControlName="startTime">

  <label>End</label>
  <input type="text" formControlName="endTime">  -->
<!--<template name="addClass-form">
  <input id="whatever" class="timepicker" type="text" name="startTime">
<template name="addClass-form">-->

  <button>Add</button>
</form>