<form *ngIf="class">
  <label>Name</label>
  <input type="text" [disabled]="!isOwner" [(ngModel)]="class.name" name="name">

  <label>Language</label>
  <input type="text" [disabled]="!isOwner" [(ngModel)]="class.language" name="language">

  <p>Class is active is: {{class.active}}</p>
  <button [hidden]="!isOwner" (click)="activateClass(class)">Activate</button>
  <button [hidden]="!isOwner" (click)="deactivateClass(class)">DeActivate</button>
  

  <a [hidden]="!isUser || isOwner || !isEnrolled" href={{skypeCallString}}>Start Class</a>

  <button [hidden]="isOwner" (click)="enroll()">Ask for Enrollment</button>
  <button [hidden]="!isOwner" (click)="saveClass()">Save class changes</button>
  <a [routerLink]="['/']">Cancel</a>
  <br>
  <br>
  <br>
    <h3>number of enrolled students in this class is</h3>
     <div *ngIf="class"> {{numberOfInStudends}} </div>
</form>