<form *ngIf="class">
  <label>Name</label>
  <input type="text" [disabled]="!isOwner" [(ngModel)]="class.name" name="name">
  <br>
  <label>Language</label>
  <input type="text" [disabled]="!isOwner" [(ngModel)]="class.language" name="language">
  <br>
  <a [routerLink]="['/tutors', class.tutorId]">Tutor's profile</a>
  <br>
  <label>Hourly rate</label>
  
  <p>Class is currently active is: {{class.active}}</p>
  <button [hidden]="!isOwner" (click)="activateClass(class)">Activate</button>
  <button [hidden]="!isOwner" (click)="deactivateClass(class)">DeActivate</button>
  

  <a [hidden]="!isUser || isOwner || !isEnrolled" href={{skypeCallString}}>Start Class</a>

  <button [hidden]="isOwner" (click)="askForEnrollment()">Ask for Enrollment</button>
  <button [hidden]="!isOwner" (click)="saveClass()">Save class changes</button>
  <br>
  <br>
  <br>
  <button [hidden]="!isOwner" (click)="removeClass()">X</button>
    <!--<h3>number of enrolled students in this class is</h3>
     <div *ngIf="class"> {{numberOfInStudends}} </div>-->
</form>